.div-container {
  padding: 0;
}

.center-x {
  margin: auto;
}

h2 {
  font-weight: bolder;
}

.bk-color {
  background-color: #3c3c3c;
  margin-bottom: 0;
  border-radius: 2px;
}

.bor {
  border: 1px ridge #6a6a6a;
  height: 5%;
}

.fr-color {
  color: lightgrey;
  font-family: "PT Sans Narrow","PT Sans", "Arial Narrow", Verdana, Geneva, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: bold;
}

.fr-color-title {
  color: ghostwhite;
  font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
  letter-spacing: .6px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: bold;
}
