.bg-custom {
  background-color: darkgray;
}

.custom-container {
  padding-left: 30px;
  color: #6a6a6a;
  vertical-align: middle;
}

.div-content {
  padding: 20px;
}

.custom-table {
  text-align: center;
  background-color: cadetblue;
}

.th-parameter {
  width: 30%;
}

.th-value {
  width: 70%;
}

img {
  margin: auto;
}
