<div class="bor">

  <div class="image-filter-container">
    <!--Shows Radio Buttons for filtering Images based on 'Hot', 'Top' and 'User'-->
    <app-radio [parentName]="'ImgFilter'" [radioOptions]="radioOptions" (filterTypeChange)="filterBasedOnSection($event)"></app-radio>
  </div>

  <div class="image-filter-container">
    <!--Shows Drop Down for filtering Images based on 'Window' and 'Sort' parameters-->
    <app-drop-down [parentName]="'Window'" [dropDownOptions]="dropDownOptionsForWindow" (windowTypeChange)="filterBasedOnWindow($event)"></app-drop-down>
    <br />
    <app-drop-down [parentName]="'Sort'" [dropDownOptions]="dropDownOptionsForSort" (sortTypeChange)="filterBasedOnSort($event)"></app-drop-down>
  </div>

</div>
