<div class="form-check div-container">

  <div>

    <div class="form-group">

      <label [for]="'drop-down-' + parentName" class="select-font">Select {{parentName}}</label>

      <select [id]="'drop-down-' + parentName"
              class="form-control select-width"
              [(ngModel)]="filterParameter"
              (change)="getFilteredImages()">

        <option *ngFor="let eachOption of dropDownOptions" [value]="eachOption">
          {{eachOption}}
        </option>

      </select>

    </div>

  </div>

</div>
