.div-container {
  margin: auto;
  text-align: center;
}

.radio-label {
  margin: 20px;
}

.radio-margin {
  margin-right: 20px;
}

.radio-font {
  color: ghostwhite;
  font-size: 16px;
}

.select-width {
  width: 95%;
  background-color: #6a6a6a;
  color: ghostwhite;
}

.select-font, option {
  background-color: #6a6a6a;
  color: ghostwhite;
}


