<div class="form-check div-container">

  <ng-container *ngIf="parentName === 'Gallery'">
    <div class="form-check-inline">
      <label class="form-check-label radio-label" *ngFor="let eachOption of radioOptions; let idx = index;">
        <input type="radio" class="form-check-input radio-margin" [checked]="(idx === 0)"
               (click)="funcExcludeViral((idx === 0))" name="Gallery" [title]="eachOption"/>
        <span class="radio-font">{{eachOption}}</span>
      </label>
    </div>
  </ng-container>

  <ng-container *ngIf="parentName === 'ImgFilter'">
    <div class="form-check-inline">
      <label class="form-check-label radio-label" *ngFor="let eachOption of radioOptions; let idx = index;">
        <input type="radio" class="form-check-input radio-margin radio-font" [checked]="(idx === 0)"
               (click)="funcFilterImages(eachOption)" name="Imgfilter" [title]="eachOption"/>
        <span class="radio-font">{{eachOption}}</span><br/>
      </label>
    </div>
  </ng-container>

</div>
