
.image-content {
  width: 65%;
  margin-left: 420px;
  margin-right: 40px;
  color: ghostwhite;
  border: 1px ridge gray;
  border-radius: 2px;
}

img:hover {
  opacity: 0.7;
  /*content: url(../../images/plus_icon.PNG);*/
}

img:hover:after {
  opacity: 0.5;
}

img {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: 1px ridge slategray;
  vertical-align: top;
}

.bor-rad {
  border-radius: 6px;
  width: 240px;
  height: 150px;
}
