<div>

  <!--Shows Radio Buttons for Including / Excluding Viral Images-->
  <app-radio [parentName]="'Gallery'" [radioOptions]="radioOptions" (optionChange)="filterViral($event)"></app-radio>

  <!--Popularity and Window and Sort filters-->
  <app-image-filter (emitFilteredDataToGallery)="refreshGalleryData($event)"></app-image-filter>

  <div class="image-content" *ngIf="imagesData && imagesData.length > 0">

    <div class="post-container" *ngFor="let eachImage of imagesData; let i = index;">
      <a target="_self" [href]="eachImage.link">

        <figure *ngIf="eachImage.images && eachImage.images.length > 0">

          <ng-container *ngIf="eachImage.images[0].type.includes('image')">
            <img [src]="eachImage.images[0].link" class="bor-rad"/>
          </ng-container>

          <ng-container *ngIf="eachImage.images[0].type.includes('video')">
            <video width="240" height="200" autoplay>
              <source [src]="eachImage.images[0].link" type="video/mp4">
            </video>
          </ng-container>

          <figcaption class="caption" *ngIf="eachImage.title !== null">{{eachImage.title}}</figcaption>

        </figure>

      </a>
    </div>

  </div>
</div>
